.container {
    width: 15rem;
    min-height: 18rem;
    height: 100%;
    padding: 0.5rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.title {
    color: white;
}

.body {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: white;
    gap: 1rem;
}

.sensor {
    display: flex;
}

.sensorName {
    font-size: 1.2rem;
    width: 60%;
    text-overflow: ellipsis;
}

.sensorValue {
    flex: 1;
    text-align: right;
}