.container {
    width: 15rem;
    min-height: 18rem;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    border-radius: 2rem 2rem 1rem 1rem;
    background-clip: border-box;
    overflow: hidden;
}

.title {
    color: white;
    height: 20%;
    padding: 0.5rem;
}

.body {
    max-height: 15rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    color: white;
    gap: 1rem;
    padding: 0.5rem;
    overflow: auto;
}

.sensor {
    display: flex;
}

.sensorName {
    font-size: 1.2rem;
    width: 60%;
    text-overflow: ellipsis;
}

.sensorValue {
    flex: 1;
    text-align: right;
}