:root {
    --font-mono:  ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;


    --primary-color: #EAEAEAAA;
    --secondary-color: #f9f9fb;
    --tertiary-color: #474E68;
    --accent-color: #404258;

    --background-color: #cdcdcd;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background: linear-gradient(180deg, rgba(255,255,255,1) 35%, rgb(222, 222, 222) 100%);
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}