.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.topbar {
    border-bottom: 1px solid var(--tertiary-color);
    height: 4rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.linkButton {
    height: 100%;
    width: 3rem;
    padding: 0.2rem;
    transition: background-color 0.3s ease-in;
    border-radius: 1rem;
}

.linkButtonIcon {
    padding: 0.3rem;
    color: var(--tertiary-color);
    border-radius: 0.5rem;
    transition: color 0.2s ease-in;
}

.linkButtonIcon:hover {
    color: var(--accent-color);
}


.content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}